mixin input(params)
	-
		var defaultParams = {
			placeholder: undefined,
			name: undefined,
			id: undefined
		};
		var config = Object.assign({}, defaultParams, params);
	input.input(placeholder=config.placeholder name=config.name id=config.id)